<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New</title>
</head>

<body>
	<form action="/campgrounds" method="POST">
		<label for="title">Enter Title : </label>
		<input type="text" id="title" name="title" placeholder="Enter title">
		<br>

		<label for="price">Enter Price :</label>
		<input type="text" id="price" name="price" placeholder="Enter Price">
		<br>

		<label for="location">Enter Location : </label>
		<input type="text" id="location" name="location" placeholder="Enter Location">
		<br>

		<label for="description">Enter Descrpition : </label>
		<input type="text" id="description" name="description" placeholder="Enter description">
		<br>

		<button type="submit">Add</button>
	</form>
	<a href="/campgrounds"> All campgrounds</a>
</body>

</html>