<% layout('layout/boilerplate') %>
<div class="row mb-3">
	<h1 class="text-center">New Campground</h1>
	<div class="col d-flex justify-content-center">
		<form action="/campgrounds" method="POST" novalidate class="validate-form" style="width: 540px;">
			<div class="mb-3">
				<label class="form-label" for="title">Enter Title : </label>
				<input class="form-control" type="text" id="title" name="title" placeholder="title" required>
				<div class="valid-feedback">
					Looks Good!
				</div>
				<div class="invalid-feedback">
					Please enter a title.
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Enter Price :</label>
				<div class="input-group mb-3">
					<span class="input-group-text">@</span>
					<input class="form-control" type="number" step="0.01" id="price" name="price" placeholder="0.0" required>
					<div class="valid-feedback">
						Looks Good!
					</div>
					<div class="invalid-feedback">
						Please enter a price.
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="image">Enter Image Url :</label>
				<input class="form-control" type="text" id="image" name="image" placeholder="image url" required>
				<img id="thumbnail" class="img-thumbnail mt-3" style="height: 120px; width: 120px;" src="https://static.thenounproject.com/png/3840068-200.png" alt="Need url" required>
				<div class="valid-feedback">
					Looks Good!
				</div>
				<div class="invalid-feedback">
					Please enter an image url.
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="location">Enter Location : </label>
				<input class="form-control" type="text" id="location" name="location" placeholder="location" required>
				<div class="valid-feedback">
					Looks Good!
				</div>
				<div class="invalid-feedback">
					Please enter a location.
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Enter Descrpition : </label>
				<textarea class="form-control" type="text" id="description" name="description" placeholder="description" required></textarea>
				<div class="valid-feedback">
					Looks Good!
				</div>
				<div class="invalid-feedback">
					Please enter a description.
				</div>
			</div>
			<div class="mb-3 d-flex justify-content-end">
				<button class="btn btn-primary" type="submit">Add Campground</button>
			</div>
		</form>
	</div>